.DS_Store
.git
.github
.env
.env.*
.playwright-cli

**/.env
**/.env.*
**/.next
**/.next-*
**/.pnpm-store
**/.turbo
**/coverage
**/dist
**/node_modules
**/playwright-report
**/test-results
**/tests/results

!**/.env.example
