.app {
  display: grid;
  grid-template-columns: 264px minmax(0, 1fr);
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: auto;
  position: relative;
}
